@import url("https://fonts.googleapis.com/css?family=Esteban|Montserrat:400,700|Merriweather");
.navbar {
  position: absolute; }

nav {
  width: 100%;
  position: absolute;
  z-index: 10;
  font: "Montserrat";
  font-weight: 0;
  font-size: 20px;
  background-color: #fff !important; }
  nav ul {
    list-style: none;
    font-weight: 600;
    letter-spacing: 1.2px; }
    nav ul li {
      display: inline-block;
      margin: 0 50px; }

p {
  font-family: "Merriweather"; }

a {
  color: #000; }

h1 {
  font: "Montserrat";
  font-weight: 700; }

.itemText p {
  font-family: 'Merriweather';
  font-style: italic; }

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #232323; }

.sectionHeader {
  text-align: left; }

.header {
  font-size: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-shadow: 2px 2px #ddd; }
  .header .headerText {
    text-align: center;
    font: "Montserrat";
    font-weight: 700;
    font-size: 4vw;
    line-height: 90%;
    margin-bottom: 5%;
    width: 80%; }
    .header .headerText #anomaly {
      font-size: 9vw;
      color: #3E70D5;
      line-height: 80%; }

.showcase {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  .showcase .row {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 2500px;
    justify-content: flex-start;
    margin: 0;
    padding: 0; }
    .showcase .row .item {
      flex-basis: 400px;
      flex-grow: 1;
      height: 450px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
      .showcase .row .item #rpc {
        background-color: #ed5252; }
      .showcase .row .item #swnationals {
        background-color: #5673fe; }
      .showcase .row .item #limited {
        background-color: #8d56fe; }
      .showcase .row .item .overlay {
        display: block;
        height: 450px;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: #3E70D5;
        position: relative;
        opacity: 0;
        transition: 0.5s;
        z-index: 55; }
        .showcase .row .item .overlay:before {
          content: ""; }
      .showcase .row .item .itemText {
        text-align: center;
        opacity: 0;
        position: absolute;
        color: white;
        align-self: center;
        transition: 0.5s;
        z-index: 100; }
      .showcase .row .item h1 {
        font: "Montserrat";
        font-weight: 700; }
      .showcase .row .item p {
        font: "Merriweather";
        text-align: center;
        font-size: 18px; }
      .showcase .row .item img:hover {
        transition: 2s; }

.about {
  padding: 5% 10% 0;
  width: 85%;
  margin: 0 auto; }
  .about .collage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0; }
    .about .collage img {
      padding: 5px;
      width: 60%; }

.servicesSection {
  padding: 5% 10%;
  width: 85%;
  margin: 0 auto; }
  .servicesSection .services {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .servicesSection .services .service {
      background-color: #F5F5F5;
      width: 30%;
      padding: 45px;
      text-align: center; }
      .servicesSection .services .service img {
        height: 60px;
        padding: 10px; }
      .servicesSection .services .service p {
        padding-top: 5%;
        text-align: left; }

.testimonialsSection {
  padding: 2% 10%;
  width: 85%;
  margin: 0 auto; }
  .testimonialsSection .testimonials {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    .testimonialsSection .testimonials .testimonial {
      background-color: #F5F5F5;
      width: 45%;
      padding: 25px;
      text-align: center; }
      .testimonialsSection .testimonials .testimonial .subheading {
        color: #858585; }
      .testimonialsSection .testimonials .testimonial img {
        height: 100px;
        padding: 10px; }
      .testimonialsSection .testimonials .testimonial p {
        padding-top: 5%;
        text-align: left; }

.contact {
  width: 85%;
  margin: 0 auto;
  padding: 5% 10%; }
  .contact .inputRow {
    margin-top: 5%;
    display: flex;
    justify-content: space-between; }
    .contact .inputRow .inputGroup {
      width: 45%; }
      .contact .inputRow .inputGroup label {
        font: "Merriweather";
        opacity: 0;
        font-size: 12px;
        animation: 0.5s ease-in;
        position: absolute;
        z-index: 8;
        overflow: hidden; }
      .contact .inputRow .inputGroup input,
      .contact .inputRow .inputGroup textarea {
        overflow: hidden;
        background-color: #F5F5F5;
        z-index: 10;
        display: block;
        border: none;
        border-radius: 0;
        color: #232323; }
        .contact .inputRow .inputGroup input ::placeholder,
        .contact .inputRow .inputGroup textarea ::placeholder {
          /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: #858585;
          opacity: 1;
          /* Firefox */ }
      .contact .inputRow .inputGroup textarea {
        resize: none; }
      .contact .inputRow .inputGroup button {
        max-width: 175px;
        margin: 0 auto;
        background-color: #3E70D5;
        color: #fff;
        border-radius: 0; }

.footer {
  width: 100%;
  background-color: #E8E8E8;
  margin: 0;
  font-weight: 700;
  color: #858585; }
  .footer a {
    color: #858585; }
    .footer a:hover {
      color: #232323; }
  .footer ul li {
    list-style: none; }
  .footer .footer-padding {
    width: 75%;
    padding: 1% 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; }
    .footer .footer-padding .footer-left {
      flex-basis: 200px;
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 50%;
      flex-direction: column; }
      .footer .footer-padding .footer-left .footer-contact a {
        color: #3E70D5 !important;
        font-weight: 700;
        font-size: 19px; }
      .footer .footer-padding .footer-left .footer-copyright {
        color: #858585; }
    .footer .footer-padding .footer-right {
      flex-basis: 200px;
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      width: 50%; }
      .footer .footer-padding .footer-right li {
        margin: 0 !important;
        padding: 0 !important; }
      .footer .footer-padding .footer-right .address {
        flex-grow: 1; }
      .footer .footer-padding .footer-right .social {
        flex-grow: 1;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between; }
      .footer .footer-padding .footer-right .pageNavigation {
        flex-grow: 1;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between; }
      .footer .footer-padding .footer-right .footer-copyright {
        bottom: 0; }

.showcaseHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font: "Montserrat";
  font-weight: 700;
  font-size: 4vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom; }
  .showcaseHeader #rpc {
    background-image: url(".././img/projects/houses-project.png"); }
    .showcaseHeader #rpc .overlay {
      background-color: #ed5252; }
  .showcaseHeader #swnationals {
    background-image: url(".././img/projects/baseball-project.png"); }
    .showcaseHeader #swnationals .overlay {
      background-color: #ed5252; }
  .showcaseHeader .contents {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; }
    .showcaseHeader .contents .text {
      width: 90%;
      margin: 0 auto;
      color: white;
      position: absolute;
      z-index: 99; }
    .showcaseHeader .contents .overlay {
      display: block;
      height: 100vh;
      width: 100%;
      margin: 0;
      padding: 0;
      position: relative;
      opacity: 0.5;
      transition: 0.5s;
      z-index: 55; }
      .showcaseHeader .contents .overlay:before {
        content: ""; }

main .showcaseRow {
  display: flex;
  justify-content: center;
  min-height: 600px;
  margin: 4% 4% 0;
  flex-wrap: wrap; }
  main .showcaseRow .item {
    flex-basis: fit-content;
    width: 600px; }
    main .showcaseRow .item img {
      float: right;
      max-width: 100%;
      max-height: 80%; }
  main .showcaseRow .text {
    padding-top: 10%; }
    main .showcaseRow .text h2 {
      font-family: 'Montserrat';
      font-weight: bold; }
      main .showcaseRow .text h2 p {
        font-family: 'Montserrat'; }
  main .showcaseRow:nth-child(2) .item:nth-child(1) {
    height: 100% !important; }
  main .showcaseRow:nth-child(2) .item:nth-child(2) {
    height: 70% !important; }
  main .showcaseRow .homepage {
    margin-bottom: 0 !important;
    height: 80% !important;
    padding: 0;
    margin: 0; }
    main .showcaseRow .homepage img {
      width: 100%; }

@media (max-width: 1100px) {
  .header {
    width: 100%; }
    .header #anomaly,
    .header .headerText {
      font-size: 7vh; }

  .servicesSection .services .service {
    width: 30%;
    margin: 10px 0; }

  .testimonialsSection .testimonials .testimonial {
    margin: 10px 0; } }
@media (max-width: 960px) {
  .about {
    width: 100%; }
    .about .collage {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 0; }
      .about .collage img {
        width: 90%;
        padding: 10px 0;
        height: auto; }

  .servicesSection,
  .testimonialsSection {
    width: 100%; }
    .servicesSection .services,
    .servicesSection .testimonials,
    .testimonialsSection .services,
    .testimonialsSection .testimonials {
      padding: 0;
      width: 100%; }
      .servicesSection .services .service,
      .servicesSection .services .testimonial,
      .servicesSection .testimonials .service,
      .servicesSection .testimonials .testimonial,
      .testimonialsSection .services .service,
      .testimonialsSection .services .testimonial,
      .testimonialsSection .testimonials .service,
      .testimonialsSection .testimonials .testimonial {
        width: 100%;
        margin: 10px 0; } }
@media (max-width: 700px) {
  .header {
    width: 100%; }
    .header .headerText {
      font-size: 5vh; }
    .header #anomaly {
      font-size: 7vh !important; }

  .contact button {
    min-width: 100%; }

  .footer .footer-left {
    order: 5; }
  .footer .footer-padding {
    width: 90%;
    margin: 0 auto; }

  .footer-left div:last-child {
    padding: 1% 0; }

  .footer-right {
    flex-basis: 200px;
    flex-grow: 1;
    flex-direction: column;
    width: 100%; }
    .footer-right .pageNavigation {
      order: -1; }
    .footer-right .address {
      order: 5; }
    .footer-right ul {
      padding: 5px 0 0; }

  .contact {
    width: 100%; } }
@media (max-width: 1100px) {
  .servicesSection .services .service {
    padding: 20px;
    width: 100%; } }
@media (max-width: 1200px) {
  main .showcaseRow #bws {
    order: -1 !important; } }

/*# sourceMappingURL=main.css.map */
