// GLOBAL

body,
html {
  height: 100%;
  width: 100%;
  font-size: $global_font_size;
  background-color: #eee;
}

// END GLOBAL

// NAVIGATION

nav {
  position: absolute;
  z-index: 10;
  font: $heading;
  font-weight: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 35px 25px;
  font-size: 20px;

  ul {
    list-style: none;
    font-weight: 700;

    li {
      display: inline-block;
      margin: 0 50px;
    }
  }
}

// END NAVIGATION

// HEADER
.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-shadow: 0 8px #ccc;

  .headerText {
    text-align: center;
    font: $heading;
    font-weight: $headingWeight;
    font-size: 4vw;
    line-height: 90%;
    margin-bottom: 5%;

    #anomaly {
      font-size: 9vw;
      color: #3E70D5;
      line-height: 80%;
    }
  }
}
// END HEADER

// SHOWCASE
