// GLOBAL

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: $global_font_size;
  color: $dark;
}

// END GLOBAL

// NAVIGATION

.navbar {
  position: absolute;
}

nav {
  width: 100%;
  position: absolute;
  z-index: 10;
  font: $heading;
  font-weight: 0;
  font-size: 20px;
  background-color: #fff !important;

  ul {
    list-style: none;
    font-weight: 600;
    letter-spacing: 1.2px;

    li {
      display: inline-block;
      margin: 0 50px;
    }
  }
}

// END NAVIGATION

// HEADER
.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-shadow: 0 8px #ccc;

  .headerText {
    text-align: center;
    font: $heading;
    font-weight: $headingWeight;
    font-size: 4vw;
    line-height: 90%;
    margin-bottom: 5%;
    width: 80%;

    #anomaly {
      font-size: 9vw;
      color: $anomaly;
      line-height: 80%;
    }
  }
}
// END HEADER

// SHOWCASE   960 × 745

.showcase {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .row {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 2500px;
    justify-content: flex-start;
    margin: 0;
    padding: 0;

    .item {
      flex-basis: 400px;
      flex-grow: 1;
      height: 450px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      .overlay {
        display: block;
        height: 450px;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: $anomaly;
        position: relative;
        opacity: 0;
        transition: 0.5s;
        z-index: 55;

        &:before {
          content: "";
        }
      }

      .itemText {
        text-align: center;
        opacity: 0;
        position: absolute;
        color: white;
        align-self: center;
        transition: 0.5s;
        z-index: 100;
      }

      h1 {
        font: $heading;
        font-weight: $headingWeight;
      }

      p {
        font: $paragraph;
        text-align: center;
        font-size: 18px;
      }

      img:hover {
        transition: 2s;
      }

    }
  }
}

// END SHOWCASE

// ABOUT

.about {
  padding: 5% 10% 0;
  width: 85%;
  margin: 0 auto;

  .collage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    img {
      padding: 5px;
      width: 60%;
    }
  }
}

// END ABOUT

// SERVICES

.servicesSection {
  padding: 5% 10%;
  width: 85%;
  margin: 0 auto;

  .services {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .service {
      background-color: $cardBackground;
      width: 30%;
      padding: 45px;
      text-align: center;

      img {
        height: 60px;
        padding: 10px;
      }

      p {
        padding-top: 5%;
        text-align: left;
      }
    }
  }
}

// END SERVICES

// TESTIMONIALS

.testimonialsSection {
  padding: 2% 10%;
  width: 85%;
  margin: 0 auto;

  .testimonials {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .testimonial {
      background-color: $cardBackground;
      width: 45%;
      padding: 25px;
      text-align: center;

      .subheading {
        color: $mutedText;
      }

      img {
        height: 100px;
        padding: 10px;
      }

      p {
        padding-top: 5%;
        text-align: left;
      }
    }
  }

}

// END TESTIMONIALS

// CONTACT

.contact {
  width: 85%;
  margin: 0 auto;
  padding: 5% 10%;

  .inputRow {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

    .inputGroup {
      width: 45%;

      label {
        font: $paragraph;
        opacity: 0;
        font-size: $global_font_size - 4;
        animation: 0.5s ease-in;
        position: absolute;
        z-index: 8;
        overflow: hidden;
      }

      input,
      textarea {
        overflow: hidden;
        background-color: $cardBackground;
        z-index: 10;
        display: block;
        border: none;
        border-radius: 0;
        color: $dark;

        ::placeholder {
          /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: $mutedText;
          opacity: 1;
          /* Firefox */
        }
      }

      textarea {
        resize: none;
      }

      button {
        max-width: 175px;
        margin: 0 auto;
        background-color: $anomaly;
        color: #fff;
        border-radius: 0;
      }
    }
  }

}

// END CONTACT

// FOOTER

.footer {
  width: 100%;
  background-color: #E8E8E8;
  margin: 0;
  font-weight: $headingWeight;
  color: $mutedText;

  a {
    color: $mutedText;

    &:hover {
      color: $dark;
    }
  }

  ul li {
    list-style: none;

  }

  .footer-padding {
    width: 75%;
    padding: 1% 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    .footer-left {
      flex-basis: 200px;
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 50%;
      flex-direction: column;

      .footer-contact a {
        color: $anomaly !important;
        font-weight: $headingWeight;
        font-size: $global_font_size + 3;
      }

      .footer-copyright {
        color: $mutedText;
      }
    }

    .footer-right {
      flex-basis: 200px;
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      width: 50%;

      li {
        margin: 0 !important;
        padding: 0 !important;
      }

      .address {
        flex-grow: 1;
      }

      .social {
        flex-grow: 1;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
      }

      .pageNavigation {
        flex-grow: 1;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
      }

      .footer-copyright {
        bottom: 0;
      }
    }
  }
}

// END FOOTER

// RESPONSIVE

@media (max-width: 1100px) {
  .showcase {
    .item {
      .overlay {
        max-width: 50%;
      }
    }
  }

  .header {
    width: 100%;

    #anomaly,
    .headerText {
      font-size: 7vh;
    }
  }

  .servicesSection {
    .services {
      .service {
        width: 30%;
        margin: 10px 0;
      }
    }
  }

  .testimonialsSection {
    .testimonials {
      .testimonial {
        margin: 10px 0;
      }
    }
  }
}

@media (max-width: 960px) {
  .about {
    width: 100%;

    .collage {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 0;

      img {
        width: 90%;
        padding: 10px 0;
        height: auto;
      }
    }
  }

  .servicesSection,
  .testimonialsSection {
    width: 100%;

    .services,
    .testimonials {
      padding: 0;
      width: 100%;

      .service,
      .testimonial {
        width: 100%;
        margin: 10px 0;
      }
    }
  }

  // button {
  //   width: 100% !important;
  // }

}
@media (max-width: 700px) {
  .header {
    width: 100%;

    .headerText {
      font-size: 5vh;
    }

    #anomaly {
      font-size: 7vh !important;
    }
  }

  .contact {
    button {
      min-width: 100%;
    }
  }

  .footer {
    .footer-left {
      order: 5;
    }

    .footer-padding {
      width: 90%;
      margin: 0 auto;
    }
  }

  .footer-left div:last-child {
    padding: 1% 0;
  }

  .footer-right {
    flex-basis: 200px;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;

    .pageNavigation {
      order: -1;
    }

    .address {
      order: 5;
    }

    ul {
      padding: 5px 0 0;
    }
  }
}

@media (max-width: 1100px) {
  .servicesSection {
    .services {
      .service {
        padding: 20px;
        width: 100%;
      }
    }
  }
}
