@import url('https://fonts.googleapis.com/css?family=Esteban|Montserrat:400,700|Merriweather');

p {
  font-family: $paragraph;
}

a {
  color: #000;
}

h1 {
  font: $heading;
  font-weight: $headingWeight;
}

.itemText {
  p {
    font-family: 'Merriweather';
    font-style: italic;
  }
}
